{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Canvi d'estat.</h1>
    <p>La seva sol·licitud de canvi d'estat Actiu / Inactiu ha estat realitzada.</p>
    <p></p>
    <p>L'equip de la borsa de treball</p>
{%endblock%}
