<html>
{%  set ruta='http://intranet.paucasesnovescifp.cat/borsaTreball' %}
<head>
    <meta charset="utf-8">
    <style>
        label {
            font-weight: bold;
        }

        .well {
            border-radius: 8px;
            border-color: #ddd;
            border-style: solid;
            border-width: 1px;
            background-color: #eee;

            margin: .5em;
            padding: .5em;
        }

        body, p, div, h1, h2, li {
            color: #000;
        }

        hr {
            width: 25%;
            margin-left: 0%;
            border-style: dashed;
        }

        .petita {
            font-size: x-small;
        }

        .boto:link, .boto:visited {
            background-color: #3c763d;
            color: #ffffff;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .boto:hover, .boto:active {
            background-color: #3e8f3e;
        }
    </style>
</head>
<body>
<p>
    <img src="{{ ruta }}/imatges/cropped-Logo_Pau.png">
</p>
{% block contingut %}
{% endblock %}
<hr>
<p class="petita">Aquesta adreça de correu només és emisora de missatges. Per favor no respongui a aquest missatge. Pot
    posar-se en    contacte amb nosaltres a l'adreça <a href="mailto:info.borsa@paucasesnovescifp.cat">info.borsa@paucasesnovescifp.cat</a> o al telèfon: <a href="tel:+34971881710">971 881 710</a></p>
</body>
</html>