{% extends "/email/baseEmail.twig" %}

{% block contingut %}
    <h1>Restablir la contrasenya de la borsa de treball del CIFP Pau Casesnoves.</h1>
    <p>Hem rebut una petició per restablir la seva contrasenya.</p>
    <p>Si no l'ha generada vostè no en faci cas.</p>
    <p>Si ha estat una petició seva, cliqui al següent enllaç per poder-la restablir</p>
    <p><a href="http://3.221.246.147/restablirContrasenya?t={{ token }}">http://3.221.246.147/restablirContrasenya?t={{ token }}</a>. </p>
    <p>Aquest enllaç té una validesa d'un dia.</p>
    <p></p>
    <p>L'equip de la borsa de treball</p>
{% endblock %}
