{% extends "auxiliars/baseDins.html.twig" %}

{% block head %}
    <title>Borsa de treball: Logs</title>


{% endblock %}

{% block navegacio %}
<a class="navbar-brand" href="../professor/dashBoard">{{ professor.nom }} {{professor.llinatges }}</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="usuarisPendents">Validar usuaris pendents</a></li>
        <li><a href="usuaris">Activar / validar usuari</a></li>
        <li><a href="administrador">Rol administrador</a></li>
        <li><a href="obrirAlumnes">Obrir alumnes</a>
        <li  class="active"><a href="#">Logs</a></li>


    </ul>

    {% endblock %}

    {% block contingut %}
        <h2>Logs</h2>
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    {% for linea in logs %}
                        <p>{{ linea }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% endblock %}