{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Empreses</title>
{% endblock %}

{% block navegacio %}

    <a class="navbar-brand" href="#">Empresa</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="altaEmpresa"><span class="glyphicon glyphicon-plus"></span> Sol·licitar l'alta</a></li>
        <li id="ajuda"><a target="_blank" href="imatges/EmpresaManualUsuari.pdf"><span class="glyphicon glyphicon-question-sign"></span> Ajuda</a></li>
    </ul>

{% endblock %}

{% block contingut %}
    <div class="row">
        <div class="col-md-8">
            <p>Possiblement en algun moment heu hagut de contractar qualque treballador i heu pensat que el CIFP Pau Casesnoves vos podria enviar qualque candidat. Normalment el que fan les empreses en aquest cas es posar-se en contacte amb algun professor que coneguin, o sinó directament amb el centre, i, al final qualque professor avisa alguns alumnes perquè es posin en contacte amb la vostra empresa.</p>
            <p>Aquesta aplicació pretén fer més fàcil el procés de posar en contacte les empreses que cerquen treballadors i els alumnes ja graduats/titulats que cerquen feina.</p>
            <p>A l’aplicació els alumnes poden introduir diferent informació. De moment poden incloure els cicles formatius de grau mitjà o superior que hagin acabat, el nivell de competència de diferents idiomes, i la seva jornada laboral.</p>
            <p>Quan prepareu una oferta obligatòriament heu d’incloure com a mínim un cicle formatiu al que va dirigida aquella oferta. Tots els alumnes que registrats a alguns dels cicles demanats rebran l’oferta.</p>
            <p>Opcionalment podreu refinar el filtre de candidats amb el nivell de competència en diferents idiomes i la jornada laboral a la que es trobin. Es seleccionaran els alumnes que tenguin com a mínim el nivell que demaneu de cada idioma. I si accepten alguna de les jornades laborals demanades també.</p>
            <p>Esperam que aquesta aplicació vos sigui útil.</p>
        </div><!--col-->
        <div class="col-md-4">
            {{include('auxiliars/login.html.twig')}}
        </div><!--col-->

    </div><!--row-->
{% endblock %}                     
