{% extends "auxiliars/baseDins.html.twig" %}

{% block head %}
    <title>Borsa de treball: Oferta</title>
    <meta charset="utf-8">
    <link href="../js/summernote/summernote.css" rel="stylesheet">
    <script src="../js/summernote/summernote.min.js"></script>


    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
{% block navegacio %}
    <a class="navbar-brand" href="dashBoard">{{empresa.nom}}</a>                    
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Afegir oferta</a></li>
        <li class="disabled"><a href="#">Estudis</a></li>
        <li class="disabled"><a href="#">Idiomes</a></li>
        <li class="disabled"><a href="#">Jornada laboral</a></li>
        <li class="disabled"><a href="#">Persones de contacte</a></li>
    </ul>

{% endblock %}
{% block contingut %}

    {{include('auxiliars/formOferta.html.twig')}}
{% endblock %}