{% extends "auxiliars/baseDins.html.twig" %}

{% block head %}
    <title>Borsa de treball: Oferta</title>
    <meta charset="utf-8">
    <link href="../js/summernote/summernote.css" rel="stylesheet">
    <script src="../js/summernote/summernote.min.js"></script>


    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
{% block navegacio %}
    {% set actiu = 222 %}
    {{ parent() }}
{% endblock %}
{% block contingut %}

    {{ include('auxiliars/formOferta.html.twig') }}
{% endblock %}