{% extends "auxiliars/baseDins.html.twig" %}

{% block head %}
    <title>Borsa de treball: Estudis {{ entitat.nom }} {{ entitat.llinatges }}</title>
    <script src="../js/dirtyForms.js"></script>
{% endblock %}

{% block navegacio %}
    {% set actiu = 303 %}
    {{ parent() }}
{% endblock %}

{% block contingut %}

    {{ include('auxiliars/formEstudis.html.twig') }}

{% endblock %}  