{% extends "auxiliars/base.html.twig" %}

{% block head %}
    <title>Borsa de treball: Empreses</title>

{% endblock %}

{% block navegacio %}

<a class="navbar-brand" href="/sortir">Borsa de treball</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right ">
        <li><a href="/sortir"><span class="glyphicon glyphicon--log-out"></span> Tornar a la pàgina principal</a></li>
    </ul>

    {% endblock %}

    {% block contingut %}
        <div class="row">
            <div class="col-md-8">
                <h1>Enllaç per restablir la contrasenya no vàlid.</h1>
                <p>Ha intentat accedir al restabliment de la contrasenya amb un enllaç que no és vàlid.</p>
                <p>Les possibles causes són:</p>
                <ul>
                    <li>Ja ha utilitzat l'enllaç rebut per correu electrònic. Només es poden utilitzar una vegada.</li>
                    <li>L'enllaç ha caducat. Al correu electrònic l'avisa de la validesa de l'enllaç.</li>
                    <li>S'ha equivocat copiant l'enllaç.</li>
                </ul>
                <p>Si ja té l'usuari validat, torni a executar l'acció <em>Ha oblidat la contrasenya?</em> de la pàgina d'entrada</p>
                <p>Si encara no el te validat envii un correu a <a href="mailto:info.borsa@paucasesnovescifp.cat">info.borsa@paucasesnovescifp.cat</a></p>
            </div><!--col-->
        </div><!--row-->
    {% endblock %}
